.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mod_morse.la
mod_morse_la-mod_morse.lo
mod_morse_la-mod_morse.o

